.markdown-body {
  pre,
  code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  }

  pre code {
    display: inline-block;
    max-width: none;
    min-width: max-content;
    overflow-x: visible;
    padding: 0;
  }

  code {
    padding: 3px 5px;
  }

  .hljs {
    background: transparent;
    color: var(--color-fg-default);
  }

  /*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/
  .hljs-comment,
  .hljs-meta {
    color: var(--color-prettylights-syntax-comment);
  }

  .hljs-deletion,
  .hljs-doctag,
  .hljs-regexp,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-selector-pseudo,
  .hljs-tag,
  .hljs-template-tag,
  .hljs-variable.language_ {
    color: var(--color-prettylights-syntax-keyword);
  }

  .hljs-link,
  .hljs-literal,
  .hljs-number,
  .hljs-params,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable {
    color: var(--color-prettylights-syntax-constant);
  }

  .hljs-attribute,
  .hljs-built_in {
    color: var(--color-prettylights-syntax-entity);
  }

  .hljs-keyword,
  .hljs-property,
  .hljs-subst,
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: var(--color-prettylights-syntax-keyword);
  }

  .hljs-selector-tag {
    color: var(--color-prettylights-syntax-entity-tag);
  }

  .hljs-addition,
  .hljs-bullet,
  .hljs-quote,
  .hljs-string,
  .hljs-symbol {
    color: var(--color-prettylights-syntax-string);
  }

  .hljs-code,
  .hljs-formula,
  .hljs-section {
    color: var(--color-prettylights-syntax-markup-heading);
  }

  .hljs-attr,
  .hljs-char.escape_,
  .hljs-name,
  .hljs-operator {
    color: var(--color-prettylights-syntax-storage-modifier-import);
  }

  .hljs-punctuation {
    color: var(--color-fg-muted);
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}
